
body {
  background-color: #ffffff;
  opacity: 0.9;
  background-image:  radial-gradient(#28573c 0.5px, transparent 0.5px), radial-gradient(#28573c 0.5px, #ffffff 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px; 
}

a {
  color: #f5fffa;
  text-decoration: underline;
}

aside {
  text-align: left;
  width: 90%;
  margin-left: 45px;
  margin-top: -130px;
  font-size: 25px;
  font-weight: 100px;
  background-color: darkslategray;
  background-image:
    linear-gradient(
      to top right, 
      darkslategray, lightgrey
    );
  opacity: 0.9;
  border: solid darkslategrey;
  padding: 20px;
}


.header {
  padding: 15px;
  font-family: "Optima", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background-color: rgb(48, 80, 80);
  color: #f5fffa;
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
}

.header h1 {
  display: inline-block;
  font-size: 45px;
  margin-top: 15px;
}

.header nav {
  padding-top: 20px;
  margin-right: 30px;
  float: right;
  font-family: "Optima", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}

.header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}
/* main photo of me */
.me {
  height: 700px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("./assets/images/Rocks.jpg");
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 50%;
}

/* class for sections that are holding my about me, work, and contact articles */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  height: 400px;
  width: 100%;
}

.main ul li {
  list-style-type: none;
  font-size: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main h2 {
  font-size: 40px;
  padding-bottom: 3px;
  margin-bottom: 200px;
  position: relative;
}

.main p {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
/* class for the "about me" header */
.about {
  position: relative;
}

.about::after {
  content: attr(title);
  position: absolute;
  top: 1.6em;
  left: 0;
  font-size: 35px;
  text-transform: uppercase;
  text-indent: 75px;
  color: darkslategray;
}

/* class for "my work" header */
.work {
  position: relative;
  font-size: 40px;
  margin-top: 50px;
}

.work::after {
  content: attr(title);
  position: absolute;
  top: 1.5em;
  left: 0;
  font-size: 35px;
  text-transform: uppercase;
  text-indent: 20px;
  color: darkslategray;
}

.work h2 {
  font-size: 40px;
  padding-bottom: 3px;
  margin-bottom: 200px;
  position: relative;
}
/* class for "contact me" header */

.contact {
  position: relative;
}


.contact::after {
  content: attr(title);
  position: absolute;
  top: 1.6em;
  left: 0;
  font-size: 35px;
  text-transform: uppercase;
  text-indent: 100px;
  color: darkslategray;
}

/* class for horizontal line in headers */
.hl {
  border-bottom: 2px solid rgb(11, 10, 10);
  height: 12%;
  width: 100%;
  left: 0%;
}

/* code for image grid */
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 10px;
  padding: 10px;
  margin-top: -35px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.gallery-item:hover .image img {
  transform: scale(1.5);
}

.gallery-item .text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  pointer-events: none;
  z-index: 4;
  transition: 0.3s ease-in-out;
}

.gallery-item:hover .text {
  opacity: 1;
}

.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 3;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: 2;
}

.h-1 {
  grid-row: span 3;
}

/* css for contact form */
.contact-test {
  margin-top: 100px;
}

.contact-test h1 {
  font-size: 32px;
  line-height: 10px;
  align-items: center;
}

form {
  margin: 0;
  padding: 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  margin-top: -400px;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid darkslategray;
  color: black;
  font-size: 18px;
  margin-bottom: 40px;
}

input {
  height: 45px;
}

form .submit {
  background: darkslategrey;
  border: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: lightblue;
  cursor: pointer;
}

.footer {
  background-color: darkslategrey;
  height: 70px;
  opacity: 0.8;
}

.footer h2 {
  display: inline-block;
  font-size: 15px;
  margin-top: 25px;
  margin-left: 13px;
  color: white;
}

.fa {
  padding: 10px;
  max-width: 100%;
  height: auto;
  text-align: center;
  text-decoration: none;
  float: right;
}

.fa:hover {
    opacity: 0.7;
   } 


@media screen and (max-width: 950px) {
    .header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: left;
  font-family: "Optima", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
}

.header nav ul li {
  list-style-type: none;
  display: block; 
  margin-left: -30px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header {
  padding: 20px;
  font-family: "Optima", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background-color: rgb(48, 80, 80);
  color: #f5fffa;
  height: 250px;
}

.main {
  margin: 20px;
  height: 400px;
  width: 100%;
}

.main h2 {
  margin-bottom: 190px;
  position: relative;
}

aside {
  text-align: left;
  width: 60%;
  height: 80%;
  padding: 10px;
  font-size: 15px;
  background-color: darkslategray;
  background-image:
    linear-gradient(
      to top right, 
      darkslategray, lightgrey
    );
  opacity: 0.9;
  border: solid darkslategrey;
}

.me {
  height: 600px;
  width: 100%;
 /* margin-bottom: 25px; */
  background-image: url("./assets/images/Rocks.jpg");
  background-size: cover;
  background-position: center;
}

.work h2 {
  font-size: 40px;
  padding-bottom: 3px;
  margin-bottom: 50px;
  position: relative;
}

form {
  margin-bottom: 0px;
  margin-top: -250px;
}

.form-control {
  width: 200px;
  margin-bottom: 80px;
  text-align: center;
}

.main h2, .hl {
  font-size: 40px;
  border-bottom: 2px solid rgb(11, 10, 10);
  height: 12%;
  width: 100%;
  left: 0%;
}

}

  



